# This is Git's per-user configuration file.
[core]
	editor = nano
[user]
	name = Talon Chandler
	email = talonchandler@talonchandler.com
[alias]
	st = status -s
	cm = commit -m
	ca = commit --amend
	br = branch

	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -5
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	
